* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: #3d2e2e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#hamburger {
  display: none;
  position: absolute;
  left: 94%;
  top: 1%;
  font-size: 20px;
  cursor: pointer;
}
#navContainer img {
  width: 100vw;
  max-width: 100%;
}
h1 {
  margin-left: 20px;
  display: flex;
  font-family: Brush Script MT;
}
header {
  display: flex;
  background-color: whitesmoke;
}
ul {
  display: flex;
  list-style: none;
  margin: 10px 10px 10px 10px;
}
li {
  margin-left: 25px;
  list-style-type: none;
}
a:link,
a:visited {
  color: #3d2e2e;
  text-decoration: none;
}

.sectionDesing {
  margin-top: 30px;
  border-top: 1.5px outset rgb(13, 42, 104);
}
#contact {
  border-top: 1.5px outset wheat;
}
.sectionDesing div {
  display: flex;
  justify-items: baseline;
}
.sectionDesing p {
  font-size: 22px;
  position: relative;
  top: 35%;
  transform: (-50%, -50%);
}
.sectionDesing h2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.flexDesing img {
  margin-left: -80px;
  width: 60vw;
}
.flexDesingR img {
  width: 40vw;
  margin-left: 340px;
}
.sectionDesing div {
  display: flex;
  justify-items: baseline;
}
.divDesing {
  width: 30%;
  margin-left: 5%;
  height: 1%;
}
.divDesingR {
  margin-right: -300px;
  width: 50%;
}

.divDesingR {
  margin-left: 40px;
}

.clickReadAll {
  display: none;
  color: rgba(0, 0, 0, 0.514);
  cursor: pointer;
}
.closeReadAll {
  display: none;
  color: rgba(0, 0, 0, 0.514);
  cursor: pointer;
}
#contact {
  display: flex;
  justify-items: end;
  background-color: #6a4fca;
  height: 400px;
  margin-top: 60px;
}

#contactInfo {
  width: 40%;
  margin-left: 6%;
  margin-top: 5%;
}
#contactInfo p {
  font-size: 20px;
}

#contactDiv {
  margin-top: 5%;
  margin-left: 15%;
}
footer {
  background-color: rgba(0, 0, 0, 0.774);
}
footer p {
  display: grid;
  place-items: center;
  cursor: pointer;
  color: rgba(245, 245, 245, 0.322);
  height: 100%;
}
/*___--------------------- margine ---------------*/
#aboutDiv {
  margin-top: 4%;
}
#whyMeDiv {
  margin-top: 4%;
}
#advantagesDiv {
  margin-top: 4%;
}
#supportDiv {
  margin-top: 4%;
}

/* -------------------INPUT----------------------------------- */
input {
  height: 40px;
  border: none;
  width: 100%;
  border-radius: 10px;
}
textarea {
  border-radius: 4px;
}
button {
  cursor: pointer;
  background-color: rgba(185, 8, 8, 0.603);
  border: none;

  margin-top: 10px;
  width: 40%;
  height: 30px;
  border-radius: 12px;
}

/* ------------------REZOLUCIJA------------------------------ */
@media only screen and (max-width: 1500px) {
  .divDesing {
    width: 45%;
    margin-left: 1%;
  }
}
@media only screen and (max-width: 1000px) {
  .divDesing p {
    font-size: 18px;
  }
  #contactInfo {
    width: 50%;
    margin-left: 3%;
    margin-top: 5%;
  }
  form {
    margin-top: 5%;
  }
  #aboutDiv {
    margin-top: 2.7%;
  }
  #whyMeDiv {
    margin-top: 4%;
  }
  #advantagesDiv {
    margin-top: 5%;
  }
  #supportDiv {
    margin-top: 4%;
  }
}

@media only screen and (max-width: 769px) {
  nav {
    display: none;
  }
  #hamburger {
    display: block;
  }
  .sectionDesing h2 {
    display: grid;
    margin-top: 30px;
  }
  .flexDesing img {
    display: grid;
    margin: auto;
    width: 80vw;
  }
  .flexDesingR {
    display: grid;
    margin-left: 4%;
  }
  #supportP {
    width: 170%;
  }
  #whyMeP {
    width: 170%;
  }
  .flexDesingR img {
    margin-right: 9%;
  }
  .sectionDesing div {
    display: grid;
  }
  .divDesing {
    width: 85%;
    display: grid;
    margin-left: 10%;
  }
  .sectionDesing p {
    font-size: 18px;
    position: relative;
    top: 0%;
    margin: auto;
    transform: (-50%, -50%);
  }
  .divDesingR {
    margin-right: -300px;
    width: 50%;
  }
  .divDesingR {
    margin-left: 40px;
  }
  #contact {
    display: grid;
    place-content: center;
    background-color: #6a4fca;
    height: 400px;
    margin-top: 60px;
  }
  #contactInfo p {
    display: none;
  }
  #contactInfo {
    position: relative;
    left: -25%;
  }

  input {
    height: 40px;
    border: none;
    width: 100%;
  }
}
@media only screen and (max-width: 490px) {
  nav {
    display: none;
  }
  #hamburger {
    display: block;
  }
  .sectionDesing h2 {
    display: grid;
    margin-top: 30px;
  }
  .flexDesing img {
    display: grid;
    margin: auto;
    width: 80vw;
  }
  .flexDesingR {
    display: grid;
    margin-left: -2%;
  }
  #supportP {
    width: 170%;
  }
  #whyMeP {
    width: 170%;
  }
  .flexDesingR img {
    margin-right: 8%;
  }
  .sectionDesing div {
    display: grid;
  }
  .divDesing {
    width: 85%;
    display: grid;
    margin-left: 10%;
  }
  .sectionDesing p {
    font-size: 18px;
    position: relative;
    top: 0%;
    margin: auto;
    transform: (-50%, -50%);
  }
  .divDesingR {
    margin-right: -300px;
    width: 50%;
  }
  .divDesingR {
    margin-left: 40px;
  }
  #contact {
    display: grid;
    place-content: center;
    background-color: #6a4fca;
    height: 400px;
    margin-top: 60px;
  }
  #contactInfo p {
    display: none;
  }
  #contactInfo {
    position: relative;
    margin: auto;
  }

  input {
    height: 40px;
    border: none;
    width: 100%;
  }
}
