* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #3d2e2e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#navContainer img {
  width: 100vw;
  max-width: 100%;
}
h1 {
  display: flex;
  justify-content: center;
}
nav {
  display: none;
}
.sectionDesing {
  margin-top: 30px;
  border-top: 1.5px outset rgb(13, 42, 104);
}
#contact {
  border-top: 2px dotted rgb(13, 42, 104);
}
.sectionDesing div {
  display: flex;
  justify-items: baseline;
}
.sectionDesing p {
  font-size: 25px;
  position: relative;
  top: 15%;
  transform: (-50%, -50%);
}
.sectionDesing h2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.flexDesing img {
  margin-left: -80px;
  width: 60vw;
}
.flexDesingR img {
  width: 40vw;
  margin-left: 340px;
}
.sectionDesing div {
  display: flex;
  justify-items: baseline;
}
.divDesing {
  width: 30%;
  margin-left: 5%;
}
.divDesingR {
  margin-right: -300px;
  width: 50%;
}

.divDesingR {
  margin-left: 40px;
}
#contactInfo {
  margin: auto;
  width: 30%;
  display: grid;
  place-items: center;
}
#contactInfo p {
  font-size: 20px;
}
form {
  margin-top: 50px;
  display: grid;
  place-items: center;
}
