* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(3, 26, 104);
}
html {
  background-color: #4158d0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#imgLogin img {
  display: none;
}
#loginContainer {
  background-color: rgba(0, 255, 255, 0.685);
  width: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
label {
  color: black;
}
h1 {
  display: grid;
  place-content: center;
  margin-top: 30px;
}
form {
  display: grid;
  place-items: center;
}
input {
  width: 300px;
  height: 40px;
  border: none;
  background-color: rgba(0, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 0, 0, 0.596);
  border-radius: 7px;
}

form div {
  margin-top: 10px;
}
form {
  margin-top: 20px;
}
button {
  width: 150px;
  height: 25px;
  background-color: rgba(219, 35, 35, 0.808);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#contactAdmin p {
  margin-top: 15px;
  font-size: 15px;
  display: grid;
  place-content: center;
  text-align: center;
}
#socialMedia {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#gitHub img {
  cursor: pointer;
  margin-top: -7.5%;
  width: 10vw;
}

span {
  cursor: pointer;
  font-size: 15px;
  color: #4158d0;
}

@media only screen and (min-width: 1500px) {
  * {
    font-size: 18px;
  }
  #loginContainer {
    width: 790px;
  }
  input {
    width: 380px;
  }
  #loginContainer {
    padding-top: 60px;
  }
  #gitHub img {
    width: 5vw;
    margin-top: -5px;
  }
  h1 {
    font-size: 25px;

  }
  #contactAdmin p {
    font-size: 18px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  #loginContainer {
    width: 390px;
    left: 10%;
  }
  input {
    width: 280px;
  }

  #gitHub img {
    width: 15vw;
    margin-top: -5px;
  }
}

@media only screen and (max-width: 425px) {
  #loginContainer {
    width: 270px;
  }
  input {
    width: 250px;
  }

  #gitHub img {
    width: 20vw;
    margin-top: -12px;
  }
}
