* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(3, 26, 104);
}
body {
  background-color: #4158d0;
}
#imgLogin img {
  display: none;
}
#loginContainer {
  position: fixed;
  top: 20%;
  left: 27%;
  background-color: rgba(0, 255, 255, 0.685);
  width: 45%;
  height: 60%;
  border-radius: 12px;
}
label {
  color: black;
}
h1 {
  display: grid;
  place-content: center;
  margin-top: 30px;
}
form {
  display: grid;
  place-items: center;
}
input {
  width: 300px;
  height: 40px;
  border: none;
  background-color: rgba(0, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 0, 0, 0.596);
  border-radius: 7px;
}

form div {
  margin-top: 10px;
}
form {
  margin-top: 20px;
}
button {
  width: 150px;
  height: 25px;
  background-color: rgba(219, 35, 35, 0.808);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#contactAdmin p {
  margin-top: 15px;
  font-size: 15px;
  display: grid;
  place-content: center;
  text-align: center;
}
#socialMedia {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#instagram img {
  display: none;
  cursor: pointer;
  width: 3vw;
}
#gmail img {
  display: none;
  width: 5vw;
  cursor: pointer;
}

#gitHub img {
  cursor: pointer;
  margin-top: -7.5%;
  width: 10vw;
}

span {
  cursor: pointer;
  font-size: 15px;
  color: #4158d0;
}

@media only screen and (min-width: 1500px) {
  * {
    font-size: 18px;
  }

  #loginContainer {
    padding-top: 60px;
  }
  #gitHub img {
    width: 5vw;
    margin-top: -5px;
  }
  #contactAdmin p {
    font-size: 18px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  #loginContainer {
    width: 80%;
    left: 10%;
  }
  input {
    width: 250px;
  }
  #instagram img {
    display: none;
  }
  #gmail img {
    width: 12vw;
    display: none;
  }
  #gitHub img {
    width: 15vw;

    margin-top: -5px;
  }
}

@media only screen and (max-width: 425px) {
  #loginContainer {
    width: 90%;
    left: 5%;
  }
  input {
    width: 250px;
  }
  #instagram img {
    width: 7vw;
  }
  #gmail img {
    width: 10vw;
  }
  #gitHub img {
    width: 20vw;
    margin-top: -12px;
  }
}
